## [ Pastas de Compilação - Lixo do .NET ]
bin/
obj/
publish/

## [ Configurações de IDE - VS Code e Visual Studio ]
.vscode/
.vs/
*.user
*.userosscache
*.suo

## [ SEGURANÇA - CRÍTICO ]
# Não envie suas senhas do MySQL para o GitHub!



## [ Banco de Dados Local ]
# Caso você use algum arquivo de log ou db local por acidente
*.db
*.db-shm
*.db-wal
*.sql

## [ Sistema Operacional ]
.DS_Store
Thumbs.db
desktop.ini

## [ Pacotes NuGet ]
# O .NET restaura eles automaticamente, não precisa subir
*.nupkg
**/packages/*
!**/packages/build/